<a href="https://colab.research.google.com/github/lukaszek358/SDA/blob/main/projekt_ko%C5%84cowy_modelowanie.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Modelowanie

In [2]:
import sklearn
import pandas as pd

from sklearn.model_selection import train_test_split

from sklearn.model_selection import KFold #metoda walidacji krzyżowej, która dzieli zbiór danych na k podzbiorów o równej liczbie obserwacji

from sklearn.model_selection import cross_val_score #automatycznie wykonuje walidację krzyżową dla modelu i zestawu danych
from sklearn.model_selection import GridSearchCV #import biblioteki dla doboru optymalnych parametrów

from sklearn.preprocessing import PolynomialFeatures #import biblioteki regresji wielomianowej
from sklearn.linear_model import LinearRegression #import biblioteki regresji liniowej

from sklearn.tree import DecisionTreeRegressor #import biblioteki dla drzew decyzyjnych
from sklearn import tree #import modelu drzewa

In [3]:
data = pd.read_csv('/content/drive/MyDrive/preprocessing_flights.csv')
data=data.drop('Unnamed: 0', axis = 1)

In [9]:
sample_size = 50000

In [10]:
sampled_data = data.sample(n= sample_size, random_state = 42)

In [11]:
sampled_data

,date,scheduled_departure,departure_delay,taxi_out,wheels_off,scheduled_time,distance,scheduled_arrival,arrival_delay,airline,...,airline_Delta Air Lines Inc.,airline_Frontier Airlines Inc.,airline_Hawaiian Airlines Inc.,airline_JetBlue Airways,airline_Skywest Airlines Inc.,airline_Southwest Airlines Co.,airline_Spirit Air Lines,airline_US Airways Inc.,airline_United Air Lines Inc.,airline_Virgin America
5142765,2015-03-26,851,3.0,15.0,869,217.0,1330,1068,-23.0,Atlantic Southeast Airlines,...,0,0,0,0,0,0,0,0,0,0
3901978,2015-07-03,405,-6.0,11.0,410,90.0,495,435,-4.0,Southwest Airlines Co.,...,0,0,0,0,0,1,0,0,0,0
1709905,2015-09-25,360,-11.0,12.0,361,73.0,273,433,-23.0,JetBlue Airways,...,0,0,0,1,0,0,0,0,0,0
4853679,2015-07-01,1278,13.0,15.0,1306,105.0,528,1383,9.0,Atlantic Southeast Airlines,...,0,0,0,0,0,0,0,0,0,0
2891404,2015-11-23,1153,-6.0,23.0,1170,161.0,1075,1374,4.0,Skywest Airlines Inc.,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2494701,2015-09-16,1410,-3.0,10.0,1417,265.0,2052,415,-26.0,Spirit Air Lines,...,0,0,0,0,0,0,1,0,0,0
4529521,2015-05-01,981,11.0,13.0,1005,98.0,419,1079,10.0,American Eagle Airlines Inc.,...,0,0,0,0,0,0,0,0,0,0
2886806,2015-07-21,936,-4.0,17.0,949,89.0,395,1025,-13.0,Skywest Airlines Inc.,...,0,0,0,0,1,0,0,0,0,0
4583026,2015-03-17,970,-9.0,7.0,968,71.0,139,1041,-31.0,American Eagle Airlines Inc.,...,0,0,0,0,0,0,0,0,0,0
3696708,2015-01-03,825,14.0,12.0,851,135.0,842,960,11.0,Southwest Airlines Co.,...,0,0,0,0,0,1,0,0,0,0

In [23]:
X = sampled_data.drop(['date' ,'arrival_delay', 'airline', 'scheduled_departure', 'wheels_off'], axis=1)
y = sampled_data['arrival_delay']

In [ ]:
# X.info()

In [24]:
X.head()

,departure_delay,taxi_out,scheduled_time,distance,scheduled_arrival,scheduled_departure_norm,cos_scheduled_departure_norm,day_of_week_norm,cos_day_of_week_norm,scheduled_arrival_norm,...,airline_Delta Air Lines Inc.,airline_Frontier Airlines Inc.,airline_Hawaiian Airlines Inc.,airline_JetBlue Airways,airline_Skywest Airlines Inc.,airline_Southwest Airlines Co.,airline_Spirit Air Lines,airline_US Airways Inc.,airline_United Air Lines Inc.,airline_Virgin America
5142765,3.0,15.0,217.0,1330,1068,3.713188,-8.410390e-01,3.590392,-0.900969,4.660029,...,0,0,0,0,0,0,0,0,0,0
3901978,-6.0,11.0,90.0,495,435,1.767146,-1.950903e-01,4.487990,-0.222521,1.898046,...,0,0,0,0,0,1,0,0,0,0
1709905,-11.0,12.0,73.0,273,433,1.570796,6.123234e-17,4.487990,-0.222521,1.889319,...,0,0,0,1,0,0,0,0,0,0
4853679,13.0,15.0,105.0,528,1383,5.576327,7.604060e-01,2.692794,-0.900969,6.034476,...,0,0,0,0,0,0,0,0,0,0
2891404,-6.0,23.0,161.0,1075,1374,5.030912,3.131638e-01,0.897598,0.623490,5.995206,...,0,0,0,0,1,0,0,0,0,0

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [26]:
model = DecisionTreeRegressor()

In [29]:
kf = GridSearchCV(model,
                  param_grid = {'max_depth': range(1, 15),
                  'min_samples_split': range(2, 200, 20)
                  },
                  cv = 10, 
                  scoring = 'neg_mean_absolute_error',
                  error_score= 'raise' )
kf.fit(X_train, y_train)

GridSearchCV(cv=10, error_score='raise', estimator=DecisionTreeRegressor(),
             param_grid={'max_depth': range(1, 15),
                         'min_samples_split': range(2, 200, 20)},
             scoring='neg_mean_absolute_error')

In [33]:
print(kf.best_params_)
print(kf.best_score_)

{'max_depth': 11, 'min_samples_split': 122}
-8.234547581205542

II podejście

In [32]:
kf = GridSearchCV(model,
                  param_grid = {'max_depth': range(1, 25),
                  'min_samples_split': range(2, 250, 10)
                  },
                  cv = 15, 
                  scoring = 'neg_mean_absolute_error',
                  error_score= 'raise' )
kf.fit(X_train, y_train)

print(kf.best_params_)
print(kf.best_score_)

{'max_depth': 11, 'min_samples_split': 122}
-8.234547581205542